*{
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-roboto;
}

// Ejemplo de uso en otros elementos
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-roboto;
}

p {
    font-family: $font-family-roboto;
}
