header {
  height: 15vh;
}
header {
  background-color: #db9292;
  font-family: "Roboto", sans-serif;
}
header nav ul li:hover {
  background-color: #dee2da;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a:visited {
  color: black;
}

// Estilos para el header y navbar
header {
  background-color: $bg-light;
  width: 100%;
  position: fixed;
  top: 0;
}